body {
	background-color: #F7F7ED;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:#535353;
}

p {
	margin: 0px;
	line-height: 1.5;
}

ul {
	padding-inline-start:0;
}

li {
	list-style-type: none;
}

.ui.search>.results {
	overflow-y: auto;
	max-height: 250px;
}

.ui.button.toggle.active {
  background: #474847 !important;
}

.ui.button.toggle.active:hover {
  background: #1B1C1D !important;
}

.ui.red.button {
	background: #D13434 !important;
}

.ui.red.button:hover {
	background: #FD3F3F !important;
}

.ui.menu {
	background-color: transparent !important;
	box-shadow: none !important;
}

.react-tabs__tab-panel {
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	padding-right:2%;
	padding-left:2%;
}

.react-tabs__tab-list {
	margin-bottom: 0px !important;
	font-weight: 700;
	font-size:2.2vh;
}

.react-tabs__tab--selected {
	background-color: #1B1C1D;
	color: #F7F7ED;
	border:3px;
}

.bold {
	font-weight: 700;
}

.title {
	font-size: 7vh;
}

.subtitle {
	font-size: 3vh;
}

.paragraph {
	font-size: 2vh;
}

.page {
	display:inline-flex;
	width:100%;
	height:100%;
	margin-bottom: 3%;
}

.nav-bar {
	width:5%;
	min-width:100px;
	margin-top: 5%;
}

.content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

.content-home {
	width:70%;
}

.content-graphs {
	width:90%;
}

.page-title {
	margin-top: 1%;
	margin-bottom: 5%;
	text-align: center;
}

.section-margin {
	margin-top:3%;
}

.home-icons {
	max-width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.home-icons div {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.home-icons img{
	margin-top:15%;
	margin-left: auto;
	margin-right: auto;
	height: 12vh;
}

.home-button {
	width:60%;
	margin-left: auto;
	margin-right: auto;
}

.home-button input {
	width:100%;
}

.instructions {
	width:80%;
	display:inline-flex;
	margin-top:5%;
}

.instruction {
	display: grid;
	width:80%;
	grid-template-columns: 15% 65%;
	grid-column-gap: 5%;
}

.grid-one {
	grid-column: 1;
}

.grid-two {
	grid-column: 2;
}

.instruction-text {
	margin: 7%;
	text-align: center;
	color: #F7F7ED;
	font-weight: 300;
}

.instruction-block {
	width:100%;
	background-color: #494949;
	margin-left:2%;
}

.tab {
	background-color: #F7F7ED !important;
	overflow-x: auto;
}

.grid-patterns-bar {
	display: grid;
	grid-template-columns: 85% 15%;
	margin-top: 2%;
}

.grid-patterns-sunburst {
	display: grid;
	grid-template-columns: 20% 75%;
	grid-column-gap: 2%;
	margin-top: 2%;
}

.grid-patterns-pie {
	display: grid;
	grid-template-columns: 49% 49%;
	grid-column-gap: 2%;
	margin-top: 2%;
}

.grid-calendar {
	display: grid;
	grid-template-columns: 75% 24%;
	grid-column-gap: 1%;
	margin-top: 2%;
}

.filter {
	height:80%;
	margin-top:auto;
	margin-bottom: auto;
}
